body { background: #43b5d9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 18px; display: flex; }
.block-config-0 { color: #dc395d; font-size: 19px; margin-bottom: 5px; }
.block-metrics-1 { color: #92efa0; font-size: 19px; margin-bottom: 5px; }
.block-uploader-2 { color: #6db20f; font-size: 13px; margin-bottom: 5px; }
.block-product-3 { color: #74d712; font-size: 15px; margin-bottom: 5px; }
.block-metrics-4 { color: #b859e7; font-size: 14px; margin-bottom: 5px; }
.block-cluster-5 { color: #43ef09; font-size: 21px; margin-bottom: 5px; }
.block-auth-6 { color: #dfa8a3; font-size: 16px; margin-bottom: 5px; }
.block-router-7 { color: #59b395; font-size: 16px; margin-bottom: 5px; }